html {
  font-size: 62.5%;
}


body {
  font-family: $thin, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  background-color: $light;
  color: $dark;
}

%icon-button {
  padding: 0;
  svg {
    height: 100%;
    width: 100%;
    fill: $dark;
  }
}

@media(min-width:800px){
  background-color: $dark;
}

*{
  box-sizing: border-box;
//adsfasdf
}

.container{
    width: 50rem !important;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: $dark;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 0;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}

input:focus, button:focus{
  outline: none;
}























//scroll bar stuff
::-webkit-scrollbar {
    width: 1.2rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px 9px 9px 3px/ 3px 4px 4px 3px;
    background-color: $dark;
    background-clip: padding-box;
    border-right: 0.6rem solid rgba(0,0,0,0);
}
::-webkit-scrollbar-button:end:increment, ::-webkit-scrollbar-button:start:increment  {
height: 2.2rem;;
display: block;
background-color: transparent;
}
      
      
      
      
      
      
      
      
      
      
