.playing-page{
    display: flex;
    flex-direction: column;
    background-color: $dark;
    color: $light;
    height: 100vh;
    width: 100vw;
    .buffer{
        flex: 0 0 10rem;
    }
}





.playing-main{
    flex: 1 0 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 4.5rem;

    h1{
        font-size: 1750%;
        padding-bottom: 12rem;
    }
    h2,h3{text-align: center;}
    h2{
        font-size: 260%;
        margin-bottom: 1.7rem;
        span{
            font-size: 64%;
            overflow-x: hidden;
            transition: width 0.2s;
            display: inline-block;
            line-height: 2.4rem;
            margin-left:0.6rem;
            &.breakShow{
                width: 10rem;
            }
            &.breakHide{
                width: 0rem;
            }
        }
    }
    h3{
        font-size: 170%;
        margin-top: 1.4rem;
    }
}







.playing-info{
    display: flex;
    flex: 0 1 11rem;
    margin-top: 1rem;
    position: relative;
    &:hover{
        flex: 0 1 12rem;
        margin-top: 0;
        .total-duration, .pause-play{
            display:block;
        }
    }
}

.next-box{
    flex: 0 0 25rem;
}



.timer-holder{
    position: absolute;
    bottom:0;
    width: 100%;
    height:2rem;
    border-top: solid $dark 0.5rem;
    background-color: $light;
    // animation: heightShow 1s 0.1s forwards;
}
.timer-bar{
    position: absolute;
    height:1.5rem;
    transition: width 60s linear;
    max-width: 100%;
    background-color: $dark;
    //         or
    // border-right: solid 0.5rem $dark;

}
@keyframes heightShow{
    from{height:0rem;}
    to   {height:2rem}
}


.total-duration, .pause-play{
    display: none;
}

.total-duration{
    position: absolute;
    bottom: 2.7rem;
    left: 1.8rem;
    font-size: 138%;
    font-weight: 200;
}


.pause-play{
    position: absolute;
    bottom: 3.2rem;
    right: 1.8rem;
    button{
        @extend %icon-button;
        background-color: $dark;
        padding: 0rem 0rem 0.1rem 0rem;
        svg{
            fill: $light;
        }
    }
}



















.clock{
    width: 35rem;
    height: 35rem;
    border: solid $light 1rem;
    border-radius: 50%;
    background-color: $dark;
    background-color: $light;
    position: relative;
    margin: 1rem 15rem;
}



.clock-face-1, .clock-face-2{
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.clock-face-1{
    background-color: $light;
    background-color: $dark;
    transition: transform 1s linear;
    transform-origin: 100% 50%;
    &.instant-rotation{
        transform: rotate(0deg) !important;
        transition: transform 0s linear;
    }
}

.clock-face-2{
    z-index: 1;
    background-color: $dark;
    background-color: $light;
        &.clock-face-3{
            background-color: $light;
    background-color: $dark;
            left:50%;
            border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    }
}


