// Colors
$dark: rgb(29, 39, 56);
$greyish: rgb(75, 66, 88);
$greyish: rgb(70, 66, 88);
$light: rgb(239, 229, 248);


$dark: rgb(29, 39, 56);
$greyish: rgb(75, 66, 88);
$greyish: rgb(80, 87, 117);
$light: rgb(239, 229, 248);


$greyish: rgb(75, 66, 88);
$greyish:#433B8F;
$greyish:rgb(80, 73, 138);
$greyish: lighten(#6A669B,7%);


$dark:#1E2E54;
$medium:#433B8F;
$light:#6263A8;
$white:#D6D5E0;

$dark:#212942;
$medium:#403671;
$light:#6A669B;
$white:darken(#D6D5E0,4%);
$white:rgb(212, 225, 248);
$white:rgb(204, 216, 236);


// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Domine:700|Gravitas+One|Merriweather:900|Spectral:800|Volkhov:700|Vollkorn:900');  
// @import url('https://fonts.googleapis.com/css?family=Barrio|Chelsea+Market|Flavors|Freckle+Face|Kirang+Haerang|Kranky|Love+Ya+Like+A+Sister|Poor+Story|Ribeye');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300|Muli:200,300|Nunito+Sans:200,300,400,500,600|Quicksand:300|Raleway:100,200,300');

// --- fonts ---
//serifs
@import url('https://fonts.googleapis.com/css?family=Vollkorn:900');  
//title font
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
//clean
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,500,600');


// $title: 'Love Ya Like A Sister';   //7      a bit childish
// $title: 'Barrio';                   //7     one with big T
// $title: 'Chelsea Market';           //7     lower case
// $title: 'Ribeye';                   //7     serifs
$title: 'Kirang Haerang';           //7 bigger font

// $serif: 'Volkhov';      //too serious
// $serif: 'Spectral';
// $serif: 'Merriweather';
// $serif: 'Gravitas One';      //too much
// $serif: 'Domine';
// $serif: 'Abril Fatface';
$serif: 'Vollkorn';         //good

// $thin: 'Muli';          //5
// $thin: 'Montserrat';    //5
// $thin: 'Quicksand';     //modern-thin
// $thin: 'Raleway';
$thin: 'Nunito Sans';   //good-simple


$box-shadow-main: 0 0 1.3rem -0.4rem $dark;
$box-shadow-medium: 0 0 1.4rem -0.4rem $dark;
$box-shadow-small: 0 0 1rem -0.4rem $dark;

$box-shadow-main: 0 0 0rem 0rem $dark;
$box-shadow-medium: 0 0 0rem 0rem $dark;
$box-shadow-small: 0 0 0rem 0rem $dark;


.controls{
    button{
        margin-left:1rem;
    }
    p{
        margin: 0 0.5rem 2rem;
        font-weight: 500;
    }
}


@import './basics';
@import './header';
@import './welcome';
@import './settings';
@import './playing';








